{% extends "base.html" %}

{% block content %}
<div class="container grid px-6 mx-auto">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Exámenes
  </h2>
  <!-- With avatar -->
  <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Lista de Exámenes
  </h4>
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Tipo</th>
            <th class="px-4 py-3">Resultado</th>
            <th class="px-4 py-3">Fecha de Emisión</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for examen in examenes %}
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3 text-sm">
              {% if examen.tipo == 1 %}
              Creatinina
              {% elif examen.tipo == 2 %}
              Urea
              {% else %}
              Albumina
              {% endif %}
            </td>
            <td class="px-4 py-3 text-sm">
              {{ examen.valor }}
            </td>
            <td class="px-4 py-3 text-sm">
              {{ examen.fechaEmision }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} 